* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: 'Lato', Times, serif;
    font-style: normal;
}

.background-img {
    object-fit: cover;
    filter: brightness(0.5);
    height: 100%;
    width: 100%;
    display: block;
    transition: filter 0.5s;
}

.hero-background {
    height: 100vh;
    width: 100vw;
}

.hero-overlay-content {
    position: absolute;
    left: 10%;
    top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    filter: invert(100%);
    text-align: center;
}

.hero-text {
    position: absolute;
    width: auto;
    height: auto;
    left: 10%;
    top: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    font-size: 3.5vw;
}

.logo {
    width: 25%;
}

.nav-container {
    position: absolute;
    z-index: 1;
}

.desktop-nav {
    color: white;
    display: flex;
    justify-content: center;
    left: 30%;
    top: 3%;
    padding: 24px 0;
    width: 70%;
    font-size: 18px;
}

.desktop-nav a {
    list-style: none;
    margin-right: 25px;
    align-items: flex-end;
}

.button-container {
    display: flex;
    flex-direction: row;
    border: 1px solid
}

.button1 {
    background-color: #e67e22;
    border: 2px solid #e67e22;
    color: white;
    margin-top: 3%;
    padding: 13px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 25px;
}

.button2 {
    background-color: transparent;
    color: #e67e22;
    margin-top: 3%;
    padding: 13px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 25px;
    border: 2px solid #e67e22;
}

.button1:hover {
    object-fit: cover;
    filter: brightness(0.8);
}

.button2:hover {
    background-color: #e67e22;
    color: white;
    object-fit: cover;
    filter: brightness(0.8);
}

.text-page1-container {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: flex-start;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
}

.text-page2-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    justify-items: center;
    align-items: center;
    padding: 0 80px;
    padding-bottom: 80px;
}

.item {
    padding: 25px;
    width: 100%;
    height: 100%;
}

.page2-title {
    font-size: 21px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.img-page1-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    flex-direction: row;
}

.page1-img {
    overflow: hidden;
}

.hover-highlight {
    height: 100%;
    width: 100%;
    filter: brightness(0.8);
    transform: scale(1.1);
    transition: all 0.6s;
}

.hover-highlight:hover {
    transform: scale(1.4);
    filter: brightness(1);
}

.text-page3-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    justify-items: center;
    align-items: center;
    border: 1px solid blue;
}

.page3-img {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: self-end;
    padding-right: 20px;
    border: 1px solid red;
}

.page3-img img {
    width: 50%;
}

.page3-text {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.page3-icons {
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.page3-icons img {
    width: 100%;
}

ion-icon {
    font-size: 64px;
    color: #e67e22;
}

.hamburger {
    margin: 32px;
    cursor: pointer;
}

.hamburger div {
    width: 100px;
    height: 2px;
    background-color: #e67e22;
}